body {
    background-color: #9f9f9f;
    margin-left: 30px;
}
h1 {
    font-size: 50px;
    color: blanchedalmond;
}
p {
    font-style: italic;
    text-transform: uppercase;
    color: azure;
}
h2 {
    color: antiquewhite;
}